<div class="navbar-wrapper">
    <div class="container">

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">{{ config.PROJECT_NAME }}</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/books/">Books</a></li>
                <li><a href="/music/">Music</a></li>
                <li><a href="/video/">Video</a></li>
            </ul>
        </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

    </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->
